<div data-role="view" id="badges-profile" data-title="个人" data-layout="mobile-tabstrip">
    <div id="person">
        <ul>
            <li>
                <div class="box-col" style="width: 300px;">
                    <button data-role="button"
                            data-sprite-css-class="k-icon k-edit"
                            data-click="app.Oa.checkInClick"
                            style="width: 180px"
                            >打卡</button>
                </div>
            </li>
        </ul>
    </div>
</div>

<div data-role="view" id="badges-sales" data-title="办公" data-layout="mobile-tabstrip">
    <div id="work">
        <ul>
            <li>
                <div class="box-col" style="width: 300px;">
                    <button data-role="button"
                            data-sprite-css-class="k-icon k-edit"
                            data-click="app.Oa.arrangeOrderClick"
                            style="width: 180px"
                            >排班</button>
                </div>
            </li>
        </ul>
    </div>
</div>

<div data-role="layout" data-id="mobile-tabstrip">
    <header data-role="header">
        <div data-role="navbar">
            <!--<a class="nav-button" data-align="left" data-role="backbutton">Back</a>-->
            <span data-role="view-title"></span>
            <a data-align="right" class="nav-button" data-role="button" data-click="app.Login.logout">登出</a>
        </div>
    </header>

    <p>TabStrip</p>

    <div data-role="footer">
        <div data-role="tabstrip" id="badges-tabs">
            <a href="#badges-profile" data-icon="home">Home </a>
            <a href="#badges-sales" data-icon="edit" >Mail</a>
        </div>
    </div>
</div>